*{margin:0;
padding:0;
}

.cabeçalho {
    background-color: cyan;
    color:black;
    display:flex;
    justify-content: space-around;
    padding: 24px;
    front-size: 24px
}
.cabeçalho-imagem{
    width: 400px;
    height: 400px;
}
.cabeçalho-item{
    display:inline-block;
}



